body{
  font-family:'Varela Round', sans-serif;
  color:#474747;
  background:url("../images/bg.png");
}

.myname{
  width:100vw;
  max-width:900px;

  height:80px;
  padding-left:100px;
  padding-top:80px;
  font-size:106px;
  font-weight:bolder;

}

.flexmid{
  display:flex;
  align-items:flex-end;

  margin-bottom:0;

  max-height:400px;

  position:fixed;
  bottom:10%;

}

    .maintext{
      padding-bottom:230px;
      padding-top:80px;
      padding-left:100px;

      min-width:600px;
      max-width:700px;

      font-size:48px;
      font-weight:100px;

      flex-basis:40vw;
      flex-wrap:wrap;

      vertical-align:text-top;

      flex:1;
    }


    .heroimage{
      width:auto;
      height:auto;

      max-width:100%;

      padding-right:50px;
      padding-left:100px;

      flex:1;
    }

      .me{
        max-height:700px;
      }

.footer{
  width:100vw;
  height:12%;

  position: fixed;
  left: 0;
  bottom: 0;

  background-color:#262626;
  margin-top:0;
}

.list{
  display:flex;
  justify-content:flex-start;
  flex-wrap:wrap;
  align-items:center;

  list-style-type:none;

  font-size:30px;

}

.about{
  color:#F2B200;

  padding-left:25px;
}

.skills{
  color:#18B8DB;

  padding-left:50px;
}

.work{
  color:#D93D54;

  padding-left:50px;
}

.contact{
  color:white;

  padding-left:50px;
}
